<h2>Pre-test</h2>
<h4>Testopzet</h4>
<ul>
  <li><p><strong>Aanleiding:</strong> {{ aanleiding }}</p></li>
  <li><p><strong>Hypothese:</strong></p>
    <ul>
      <li><p>H1: <strong>Als</strong> {{ hypothese.als }}, <strong>dan</strong> {{ hypothese.dan }}, <strong>omdat</strong> {{ hypothese.omdat }}.</p></li>
    </ul>
  </li>
  <li><p><strong>Optimalisatiestrategie:</strong> {{ optimalisatiestrategie.naam }} ({{ optimalisatiestrategie.toelichting }})</p></li>
  <li><p><strong>Psychologisch principe:</strong> {{ psychologisch_principe.naam }} ({{ psychologisch_principe.toelichting }})</p></li>
  <li><p><strong>Testsegment:</strong> </p></li>
  <li><p><strong>Significantielevel:</strong> </p></li>
  <li><p><strong>MDE:</strong> </p></li>
  <li><p><strong>Testperiode:</strong> </p></li>
  <li><p><strong>KPI:</strong> </p></li>
  <li><p><strong>Guardrail metric:</strong> </p></li>
  <li><p><strong>Aanvullende metrics:</strong></p>
    <ul>
      <li><p></p></li>
    </ul>
  </li>
</ul>
<table data-layout="default">
  <tbody>
    <tr><th><p>A</p></th><th><p>B</p></th></tr>
    <tr><td><p></p></td><td><p></p></td></tr>
    <tr><td><p></p></td><td><p><strong>Wijziging:</strong> </p></td></tr>
  </tbody>
</table>
<h2>Raportage</h2>
<h4>Resultaten</h4>
<p></p>
<h4>Inzichten</h4>
<p></p>
<h4>Learnings &amp; advies</h4>
<p></p>
<h4>Vervolgtest</h4>
<p></p>
